<app-navbar></app-navbar>
<section class="container mt-10 mx-16">
  <a style="cursor: pointer" routerLink="/manager/levels/add" class="text-white bg-green-600 rounded-md p-2 flex gap-2 items-center w-fit">New <i class="fa-solid fa-plus"></i></a>
  <div *ngIf="levels && levels.length" class="overflow-x-scroll">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 mt-4"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50"
      >
      <tr>
        <th scope="col" class="px-6 py-3">CODE</th>
        <th scope="col" class="px-6 py-3">DESCRIPTION</th>
        <th scope="col" class="px-6 py-3">POINTS</th>
        <th scope="col" class="px-6 py-3">NUMBER OF FISH</th>
        <th scope="col" class="px-6 py-3">ACTIONS</th>
      </tr>
      </thead>
      <tbody class="">
      <tr
        *ngFor="let level of levels"
        class="bg-white border-b"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ level.code }}
        </th>
        <td class="px-6 py-4">
          {{ level.description }}
        </td>
        <td class="px-6 py-4">
          {{ level.points }}
        </td>
        <td class="px-6 py-4">
          {{ level.fish.length }}
        </td>
        <td class="px-6 py-4 flex gap-4">
          <i
            [routerLink]="['/levels/update', level.code]"
            class="fa-regular fa-pen-to-square text-green-500 bg-green-200 rounded-sm p-2"
            style="font-size: 20px; cursor: pointer"
          ></i>
          <i
            class="fa-regular fa-trash-can text-red-500 bg-red-200 rounded-sm p-2"
            style="font-size: 20px; cursor: pointer"
          ></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
