<section class="container mt-10 mx-auto">
  <div *ngIf="huntings.length" class="overflow-x-scroll">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50"
      >
      <tr>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">NUMBER OF FISH</th>
        <th scope="col" class="px-6 py-3">COMPETITION</th>
        <th scope="col" class="px-6 py-3">MEMBER</th>
        <th scope="col" class="px-6 py-3">FISH</th>
        <th scope="col" class="px-6 py-3">ACTIONS</th>
      </tr>
      </thead>
      <tbody class="">
      <tr
        *ngFor="let hunting of huntings"
        class="bg-white border-b"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ hunting.id }}
        </th>
        <td class="px-6 py-4">
          {{ hunting.numberOfFish }}
        </td>
        <td class="px-6 py-4">
          {{ hunting.competition.code }}
        </td>
        <td class="px-6 py-4">
          {{ hunting.member.name }} {{ hunting.member.familyName }}
        </td>
        <td class="px-6 py-4">
          {{ hunting.fish.name }}
        </td>
        <td class="px-6 py-4">
          <a
            [routerLink]="[
                'huntings',
                hunting.id
              ]"
            class="text-blue-600 hover:text-blue-900"
          >Update Hunting</a
          >
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
